.title {
  color: white;
}
.container {
  background: black;
  font-family: "Lora", serif;
  margin: 0;
}

.rollsContainer {
  align-items: center;
  background: white;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
  text-align: center;
}

.rollContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 200px;
  padding: 10px;
  width: 200px;
}

.artTitle {
  padding: 20px;
}

/* sweet rolls */
.sweetRoll {
  align-items: center;
  display: flex;
  justify-content: center;
}

.sweetRoll .swirl {
  border: 5px solid black;
  position: absolute;
  z-index: 2;
}

.sweetRoll .swirlColored {
  border: 19px solid black;
  position: absolute;
}

.sweetRoll .smoother {
  border-radius: 7px;
  height: 19px;
  margin-left: 10px;
  margin-top: 24px;
  position: absolute;
  width: 19px;
}

.sweetRoll .dot {
  border-radius: 2px;
  height: 3px;
  width: 3px;
  position: absolute;
  z-index: 3;
}

.sweetRoll .chunk {
  border-radius: 3px;
  height: 7px;
  width: 7px;
}

.sweetRoll .swirlTiny {
  border-bottom-left-radius: 23px;
  border-right: 0px;
  border-top-left-radius: 22px;
  height: 5px;
  width: 5px;
}
.sweetRoll .swirlSmallest {
  border-bottom-right-radius: 34px;
  border-left: 0px;
  border-top-right-radius: 29px;
  height: 32px;
  margin-left: 27px;
  margin-top: 27px;
  width: 25px;
}
.sweetRoll .swirlMiddlest {
  border-bottom-left-radius: 44px;
  border-right: 0px;
  border-top-left-radius: 50px;
  height: 60px;
  margin-left: -23px;
  margin-top: -1px;
  width: 30px;
}
.sweetRoll .swirlLargest {
  border-bottom-right-radius: 83px;
  border-left: 0px;
  border-top-right-radius: 66px;
  height: 90px;
  margin-left: 60px;
  margin-top: 29px;
  width: 56px;
}

.sweetRoll .swirlColored.swirlTiny {
  margin-left: -13px;
}
.sweetRoll .swirlColored.swirlSmallest {
  margin-left: 48px;
}
.sweetRoll .swirlColored.swirlMiddlest {
  margin-left: -45px;
}
.sweetRoll .swirlColored.swirlLargest {
  margin-left: 78px;
}

.sweetRoll .dot:nth-child(1) {
  margin-left: 64px;
  margin-top: 5px;
}
.sweetRoll .dot:nth-child(2) {
  margin-left: -62px;
  margin-top: -41px;
}
.sweetRoll .dot:nth-child(3) {
  margin-left: 69px;
  margin-top: 21px;
}
.sweetRoll .dot:nth-child(4) {
  margin-left: -72px;
  margin-top: 5px;
}
.sweetRoll .dot:nth-child(5) {
  margin-left: -5px;
  margin-top: -79px;
}

.sweetRoll .swirlOutline {
  background: radial-gradient(
    circle,
    rgba(240, 172, 80, 1) 54%,
    rgba(96, 45, 18, 1) 100%
  );
  border: 3px solid black;
  border-radius: 60px;
  height: 125px;
  margin-left: 29px;
  margin-top: -2px;
  width: 131px;
}

/* sweet roll specifications */
.almondTofu .swirlColored {
  border-color: #fff2cc;
}
.almondTofu .smoother {
  background: #fff2cc;
}
.almondTofu .dot {
  background: #ff9980;
}

.blackSesame .swirlColored {
  border-color: #34374a;
}
.blackSesame .smoother {
  background: #34374a;
}
.blackSesame .dot {
  background: black;
}

.charSiu .swirlColored {
  border-color: #7e0806;
}
.charSiu .smoother {
  background: #7e0806;
}
.charSiu .dot {
  background: #c1421c;
}

.chocolate .swirlColored {
  border-color: #472b30;
}
.chocolate .smoother {
  background: #472b30;
}
.chocolate .dot {
  background: white;
}

.cinnamon .swirlColored {
  border-color: #602d12;
}
.cinnamon .smoother {
  background: #602d12;
}

.coconutPeanut .swirlColored {
  border-color: #a17141;
}
.coconutPeanut .smoother {
  background: #a17141;
}
.coconutPeanut .dot {
  background: white;
}

.eggTart .swirlColored {
  border-color: #ffcc00;
}
.eggTart .smoother {
  background: #ffcc00;
}

.egg-yolk .swirlColored {
  border-color: orange;
}
.egg-yolk .smoother {
  background: orange;
}
.egg-yolk .dot {
  background: white;
}

.eightTreasure .swirlColored {
  border-color: #7a2312;
}
.eightTreasure .smoother {
  background: #7a2312;
}
.eightTreasure .dot {
  background: #b38600;
  border: 1px solid #806000;
}

.lotusEggYolk .swirlColored {
  border-color: #773914;
}
.lotusEggYolk .smoother {
  background: #773914;
}
.lotusEggYolk .dot {
  background: #ea601c;
}

.lychee .swirlColored {
  border-color: #edeeee;
}
.lychee .smoother {
  background: #edeeee;
}

.mangoPudding .swirlColored {
  border-color: #ffb84d;
}
.mangoPudding .smoother {
  background: #ffb84d;
}
.mangoPudding .dot {
  background: orange;
}

.milkTea .swirlColored {
  border-color: #c09252;
}
.milkTea .smoother {
  background: #c09252;
}
.milkTea .dot {
  background: #282929;
}

.mungBean .swirlColored {
  border-color: #6c6534;
}
.mungBean .smoother {
  background: #6c6534;
}
.mungBean .dot {
  background: #b9b953;
}

.osmanthus .swirlColored {
  border-color: #feb412;
}
.osmanthus .smoother {
  background: #feb412;
}
.osmanthus .dot {
  background: #8a6841;
}

.sweetRice .swirlColored {
  border-color: #e9e4d3;
}
.sweetRice .smoother {
  background: #e9e4d3;
}
.sweetRice .dot {
  background: white;
}
